{
  "branches": ["master", "next", "english-codebase"],
  "plugins": [
          [
              "@semantic-release/commit-analyzer", {
                  "preset": "conventionalcommits",
              }
          ],
          [
          "@semantic-release/release-notes-generator", {
                  "preset": "conventionalcommits",
              }
          ],
          [
              "@semantic-release/changelog",
              {
                  "changelogTitle": "# Changelog - Because We Love Changes\n\nGreetings, dear user! 🎉 Here's a dazzling list of changes and updates. Brace yourself, for the excitement is overwhelming.. See\n[Conventional Commits](https://conventionalcommits.org) for commit guidelines.",
                  "changelogFile": "CHANGELOG.md"
              }
          ],
          [
              "@semantic-release/git",
              {
                  "message": "chore: Release ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}",
                  "assets": ["CHANGELOG.md"]
              }
          ]
      ]
}